body {
  line-height: 1.5;

  td, th {
    font-family: "Mada", sans-serif;
  }
}
header {
  width: 100%;
}

.form-control{
  height: auto;
}

.border-less-image-gallery ks-modal-gallery .plain-container .image {
  border: none;
}

.elite-accordion {
  .card-header {
    padding: 8px;

    button {
      margin: 0;
    }
  }
}

.h-back-user-list {
  color: $primary-color !important;
}

@media only screen and (max-width: 575px) {
  .pcoded-header .dropdown .dropdown-menu {
    left: 0 !important;
  }

  wizard.vertical .vertical a {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  .filter-bar .card-task .task-board {
    float: none;
    margin-top: 25px;
  }
}

.pcoded-header .dropdown.show:before {
  left: -10px !important;
}

div.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
}

#timer {
  color: #ffffff;
  b {
    font-size: 24px;
  }
}

pre code{
  width: auto;
  min-width: 100%;
  margin-left: -80px !important;
}

.bg-facebook {
  background: #3c5a99;
}

.bg-twitter {
  background: #42c0fb;
}

.bg-linkedin {
  background: #0077b5;
}

.bg-googleplus {
  background: #c73e2e;
}

.table {
  td,
  th {
    font-family: $theme-font-family;
  }
}

table.dataTable {
  tbody,
  tfoot,
  thead {
    td,
    th {
      padding: 1.05rem 0.75rem;
      border-color: $theme-border;
    }
  }

  &.no-footer {
    border-color: $theme-border;
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  &.current,
  &.current:hover,
  &:hover {
    box-shadow: none;
    background: $primary-color;
    border-color: $primary-color;
    color: #fff !important;
    outline: none !important;
    border-radius: 50px;
  }
}
.basic-close{
  &:focus{
    outline: none;
  }
}

.dataTables_length select,
.dataTables_filter input {
  border: none;
  border-bottom: 1px solid #ced4da;
  background: no-repeat center bottom, center calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  transition: background 0s ease-out;

  &:focus {
    border-bottom-color: transparent;
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
    box-shadow: none;
    background-image: linear-gradient(to top, theme-color('primary') 2px, rgba(70, 128, 255, 0) 2px), linear-gradient(to top, #ced4da 1px, rgba(206, 212, 218, 0) 1px);
  }
}
